* {
  box-sizing: border-box;
}

.blog {
  width: 340px;
  height: 240px;
  background: #E7E7E7;
  overflow: scroll;
}

.blog h3 {
  width: 320px;
  border-bottom: 1px solid #b3b3b3;
  margin: 0 auto;
  padding: 12px;
  font-family: Arial;
}
