.map-container {
  	background: #E7E7E7;
	border: 1px solid gray;
	height: 240px;
	width: 340px;
}

iframe {
	padding: 15px;
}

#location {
	margin: 10px;
	border-bottom: 1px solid black;
}

#address {
	font-size: 14px;
	margin-left: 20px;
}