* {
  box-sizing: border-box;
}
.map-container {
  	background: #E7E7E7;
	border: 1px solid gray;
	height: 240px;
	width: 340px;
}

#location {
	margin: 10px;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom:15px;
}

#address {
	font-size: 14px;
    margin-left: 2px;
    position: relative;
    top: -8px;
}