@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#menu-container {
	background: #E7E7E7;
	width: 600px;
	margin-top: 20px;
}

.selection {
	font-size: 24px;
	margin: 20px;
	border-bottom: 1px solid black;
}

h3 {
	border-bottom: 1px solid black;
	margin: 15px;
}

.menu-item {
	margin-left: 30px;
}

.desc {
	margin: 30px;
	width: 410px;
	font-size: 13px;
}

.menuIcons {
	position: relative;
	top: -96px;
    left: 449px;
}