.specialBox{
	height:240px;
	width:340px;
	border:1px solid gray;
	padding: 0 10px;
}
#special{
	height:100px;
	width:325px;
	border-radius: 5px;
	padding-left: 8px;
}
.headerBox {
	border-bottom: 1px solid black;
}