.specialBox{
	height:240px;
	width:340px;
	border:1px solid gray;
	padding: 0 10px;
  	background: #E7E7E7;
}
#special{
	height:100px;
	width:325px;
	border-radius: 5px;
	padding-right: 8px;
}
.headerBox {
	border-bottom: 1px solid black;
}
.foodDescription{
	margin-top: -10px;
	font-size: 12px;
}
.foodName{
	margin-top: 0px;

}